prog1sem/lab2/app.exe
prog1sem/lab4/testInput.exe
*.exe
prog1sem/lab4/116470.pdf
*.exe
prog1sem/lab4/inet.c
jaba/Main.java
prog1sem/vector.py
prog1sem/test.c
prog1sem/polina.c
prog1sem/litDhit.cpp
prog1sem/lab5/tests.txt
prog1sem/lab5/test_8.05.2020.c
prog1sem/lab5/test19052020.c
jaba/Henlo/jar.txt
*.jar
Stepic/
