prog1sem/lab2/app.exe
prog1sem/lab4/testInput.exe
*.exe
prog1sem/lab4/116470.pdf
*.exe
prog1sem/lab4/inet.c
jaba/Main.java
prog1sem/vector.py
prog1sem/test.c
prog1sem/polina.c
prog1sem/litDhit.cpp
prog1sem/lab5/tests.txt
prog1sem/lab5/test_8.05.2020.c
prog1sem/lab5/test19052020.c
jaba/Henlo/jar.txt
*.jar
Stepic/
/c-cpp_labs/prog2sem/lab1/.vs/lab1/v16
/c-cpp_labs/prog2sem/lab1/Debug
/c-cpp_labs/prog2sem/lab1/lab1.sln
/c-cpp_labs/prog2sem/lab1/lab1.vcxproj.filters
/c-cpp_labs/prog2sem/lab1/lab1.vcxproj
/c-cpp_labs/prog2sem/lab1/lab1.vcxproj.user
/c-cpp_labs/prog1sem/.vscode
